/* Footer.css */
.footer {
    position: relative;
    background-color: #8D241F;  /* Cor de fundo vermelha */
    color: white;   
    min-height: 300px;       /* Espaçamento interno no topo e embaixo */
    width: 100%;
    padding-bottom: 20px;            /* Faz com que o footer ocupe toda a largura */
    font-size: 20px;  
    display:flex; 
    align-items: center;     /* Tamanho da fonte */
             /* Sem 'position: fixed', footer não será fixado ao fundo */
  }
  .footer p:hover{
    cursor: pointer;
  }
 
  .Logomarca {    /* Permite mover a imagem de maneira livre dentro do footer */
        margin-bottom: 3%;  /* Move a imagem 10px para cima  top: 3445px; */
            /* Move a imagem 20px para a esquerda */
           /* Ajusta a altura da imagem automaticamente */
  }
 
  .copyright {
    position: absolute;
    background-color: black;  /* Cor de fundo preta */
    width: 100%;
    font-size: 17px;                /* Ocupa toda a largura do footer */
    text-align: center;        /* Centraliza o texto */
    padding: 10px 0;  
    bottom: 0;         /* Espaçamento interno para o texto */
    
  }
 
    
  
  .retangulo {
    position: relative;
    width: 4px;
    background-color: #D9D9D9;
    min-height: 125px;
    margin-left: 40px;
  }
 .iconsFooter{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 4%;
 }
 .iconsFooter img{
  width: 20px;
 }
.iconsFooter div{
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 14px;
    
}

  .retangulo1 {
    
    position: relative;
    width: 4px;
    background-color: #D9D9D9;
    min-height: 125px;
    margin-left: 10%;
  }

  .Locais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 2%;
   font-size: 14px;
   font-weight: 400;
  }

  .Endereco{
    max-width: 370px;
  }

 

  .retangulo2 {     /* Move a imagem 20px para a esquerda */
    position: relative;
    width: 4px;
    background-color: #D9D9D9;
    min-height: 125px;
    margin-left: 2%;
        /* Ajusta a altura da imagem automaticamente */
  }
  .shorts{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    color: white;                /* Cor do link branca */
    font-size: 14px;
    gap: 18px;              /* Diminuindo o tamanho da fonte */
    text-decoration: none;       /* Remove o sublinhado do link */
        /* Para o link ser um bloco */
  }
 
  .shorts a:hover,.shorts p:hover {
    cursor: pointer;
    text-decoration: underline;  
  }
  
 