#home{
    display:flex;
    margin-top: 8%;
    align-items: center;
    margin-inline:auto;
    width: 100%;
}
#cta{
    display:block;
    max-width: 600px;
}
#cta h1{
    font-family: 'Paytone one', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #C12F28;
    text-shadow: 0px 10px #EBD391;
    text-align: start;
    padding: 40px 0;
    
}

#banner{    
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
}

.shape{
width: 450px;
height: 30px;
background-color:#EBD391 ;
position: absolute;
z-index: -1;
}

#rect1{
    top: 188px;
    right: 150px;
    transform: rotate(-40deg);

}
#rect2{
    top:142px;
    right: 160px;
    transform: rotate(-40deg);
}
#rect3{
    top:100px;
    right: 180px;
    transform: rotate(-40deg);
}

#order{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 26px;
    background-color: #C12F28;
    padding: 10px 8%;
    border-radius:20px;

}

#order-mobile{
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: #C12F28;
    padding: 16px 14%;
    border-radius:20px;
    display: none;

}

#order:hover{
    background-color: #a82b25;
    cursor: pointer;
}

#order:active{
    
    background-color: #8a221c;
    cursor: pointer;
}



@media  (max-width:600px) {
    #home{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-bottom: 100px;
    }
    
#banner img{
    margin-top: 20px;
    width: 100%;
}  
#order{
    display: none;
}
#order-mobile{
    display: block
}
};

@media  (min-width:992px) {
    #home{
        flex-wrap: wrap;
    }
    
#banner img{
    margin-top: 20px;
    width: 100%;
}

};

/* <600px,601px,768px,992px, 1200px */