body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6e6;
    padding-top: 60px;
}

.container {
    display: flex;
    gap: 25px;
    padding: 25px;
    justify-content: center;
  
}

.card {
    margin-right: 10%;
    position: relative;

    display: flex;
    flex-wrap:nowrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:45%;
    height: 30%;
    padding: 2%;
    padding-bottom: 4%;
    padding-top: 2%;
}
#remove {
    position: absolute;
    top: 9%;
    right: 5%;
    width: 28px; /* Largura do botão */
    height: 28px; /* Altura do botão (tornando-o quadrado) */
    background-color: #C12F28; /* Cor de fundo vermelha */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada, opcional */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamanho do X */
    color: white; /* Cor do X */
    cursor: pointer; /* Aparece um cursor de pointer */
    transition: background-color 0.3s ease; /* Transição para o hover */
  }
  
  #remove:hover {
    background-color:#a83232; /* Cor de fundo quando o mouse passa por cima */
  }
  
  #remove span {
    font-weight: bold;
    border-radius: 100%;
  }
  

.image img {
    margin-top: 5%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

.info {
    margin-left: 20px;
    color: #a83232;
    width: 170%;
}

.info h2 {
    font-size: 18px;
    margin-bottom: 5px;
    width: 70%;
}
#portion{
    margin-bottom: 25px;
}


.quantity-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    
}
.quantity span{
   background-color:#F2F2F2;
   width: 50px;
   height:30px;
   border-radius: 2px;
   text-align: center;
   color: black;
   font-size: 18px;
   font-weight: 400;
}
.quantity button {
    background-color: #a83232;
    color: white;
    border: none;
    border-radius: 5px;
    padding-inline: 5px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #a83232;
}

.observation {
    padding: 5px;
}
.obsTitle{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}
.observation textarea{
    width: 100%;
    height: 100px;
    resize: none;
    border: 2px solid #C12F28;
    border-radius: 5px;
    outline: none;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.actions button {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.login-summary {
    background-image: linear-gradient(#C12F28,#E16868 );
    position: flex;
    width: 400px;
    height: 53.37px;
    top: 605px;
    left: 865px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.finish-summary {
    background-color: #ffd966;
    position: flex;
    width: 400px;
    height: 53.37px;
    top: 605px;
    left: 865px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 23px;
    padding-top: 12px;
    text-align: center;
}

details > div {
    width: 20em;
    border: 2px solid black;
    padding: 1em 2em;
    position: fixed;
    width: 360px;
    height: 240px;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
    z-index: 3;
    box-shadow: 10px 10px 10px DIMGRAY;
}
  
details[open] summary::after { 
    content: "×"; 
    font-size: 28pt;  
    position: fixed; 
    right: calc(50vw - 360px / 2 - 2em); 
    top:  calc(50vh - 240px / 2 - 2em);
    padding: 5pt 10pt;
    z-index: 9;
}
  
details[open] summary::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

.login-summary summary {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.login-message {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.finish-message{
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.login-message p {
    color: #a83232;
    font-weight: bold;
    margin-bottom: 10px;
}
.finish-message p {
    color: #a83232;
    font-weight: bold;
    margin-bottom: 15px;
}

.login-button,
.register-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    border: #C12F28;
}

.login-button {
    background-image: linear-gradient(#C12F28,#E16868 );
    background-color: #a83232;
    color: white;
}

.register-button {
    background-color: transparent;
    color: #a83232;
    border: 1px solid #a83232;
    margin-top: 10px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    color: #a83232;
    font-weight: bold;
}

.divider span {
    width: 40px;
    height: 1px;
    background-color: #a83232;
    margin: 0 5px;
}